* {
  box-sizing: border-box;
}

#x_overflow_wrapper {
  overflow-x:hidden;
  overflow: visible;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background-image: url("../img/site-wide-assets/halftone-gradient-bottom-content.png");
  background-size: auto;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom; */
}

header {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1.5rem 0 1rem 0;
  background-color: #FFFFFF;
  /* background-color: #3B3B3B; */
}

h1 {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-size: calc(4.8vw + 1.75rem);
  font-weight: 600;
  color: #21303D;
}

h2 {
  display: inline;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-size: calc(4vw + 1rem);
  font-weight: 600;
  color: #21303D;
}

h3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #545454;
}

p, li {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.33vw + 0.75rem);
  font-weight: 300;
  line-height: calc((1.33vw + 0.75rem)*1.75);
  color: #000000;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

mark {
  color: #FFE384;
  background-color: rgba(255, 255, 255, 0);
}

.menu {
  padding: 0;
  margin: 0;
}

.full_menu {
  display: none;
  column-gap: 1.5rem;
}

#hamburger_menu {
  height: 1.25rem;
}

.hamburger_menu {
  display: flex;
  justify-content: center;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.dropdown:hover .dropdown_menu li {
  display: block;
}

.dropdown_menu {
  position: absolute;
  top: 145%;
}

.dropdown_menu li {
  display: none;
  background-color: #FFFFFF;
  padding: 1rem 1.5rem;
  margin: -0.05rem -4.75vw 0 0;
  opacity: 0;
}

.dropdown_menu-2 .dropdown_item-1 {
  transform-origin: top center;
  animation: rotateX 300ms 60ms ease-in-out forwards;
}

.dropdown_menu-2 .dropdown_item-2 {
  transform-origin: top center;
  animation: rotateX 300ms 120ms ease-in-out forwards;
}

.dropdown_menu-2 .dropdown_item-3 {
  transform-origin: top center;
  animation: rotateX 300ms 180ms ease-in-out forwards;
}

@-moz-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@-webkit-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@-o-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

nav {
  display: flex;
  flex-direction: column;
  margin: 0;
}

nav a {
  display: flex;
  margin: 0 auto 0 auto;
  padding: 0;
  color: #21303D;
  font-family: 'Lexend', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: right;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav a:hover, nav a:focus {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.nav_transition1, .nav_transition2, .nav_transition3 {
  opacity: 0;
}

section {
  display: block;
}

figure {
  margin: 1.5rem 0 0 0;
}

iframe {
  border-style: none;
}


/* ID ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

#bluish_ebony_clay {
  background-color: #21303D;
}

#steel_blue {
  background-color: #457FC1;
}

#mountain_meadow {
  background-color: #14A39C;
}

#header_nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#intro {
  display: flex;
  flex-direction: column;
  row-gap: calc(1.3vw - 0.05rem);
  padding-top: 8rem;
}

#project_intro {
  padding-top: 3rem;
}

#project_org {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 1.31vw;
  grid-row-gap: 19vw;
  padding: 2rem 0 5rem 0;
}

#project_org img {
  border-radius: 5px;
}

.project a {
  transition-duration: 0.5s;
}

.project a:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

span {
  font-size: 26px;
}

#contact {
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
}

#contact h2 {
  color: #FFFFFF;
}

#disclaimer {
  padding: calc(0.35vw + 0.25rem) 0 0 0;
  font-size: calc(0.75vw + 0.75rem);
  line-height: calc((0.75vw + 0.75rem)*1.75);
  color: #4D4D4D;
}

footer {
  border-radius: 20px 20px 0 0;
  background-color: #111111;
}

#copyright p {
  font-size: calc(0.75vw + 0.75rem);
  line-height: calc((0.75vw + 0.75rem)*1.75); 
  color: #CFCFCF;
}

.back_to_top {
  column-gap: 2vw;
}

.back_to_top p {
  font-weight: 600;
  color: #FFFFFF;
}

footer img {
  height: 1.25rem;
  padding: 0;
}

#email {
  cursor: pointer;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* General Classes ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.side_grids_8of12, .side_grids_10of12 {
  margin: 0 5vw;
}

.logo {
  display: flex;
  flex: 4;
}

.process {
  padding: 7.5vw 0;
  background-color: #F0F0F0;
}

.solution {
  padding: 7.5vw 0;
  border-radius: 20px;
  background-color: #191B1F;
}

.solution h1 {
  padding: 0 0 calc(0.7vw + 0.5rem) 0;
  font-size: calc(4.8vw + 1.2rem);
  font-weight: 600;
  color: #F1EC54;
}

.directory h1 {
  padding: 0 0 calc(0.7vw + 0.5rem) 0;
  font-size: calc(4.8vw + 1.2rem);
  font-weight: 600;
  text-align: center;
}

.solution .large_section h2, .solution .twin_section h2 {
  color: #F1EC54;
}

.solution p {
  color: #FFFFFF;
}

.impact {
  padding: 18vw 0 0 0;
}

.logo img {
  width: 40px;
  transition-duration: 0.25s;
}

.logo img:hover, .logo img:focus {
  opacity: 0.5;
  transition-duration: 0.5s;
}

.fade_in_sequence1, .fade_in_sequence2, .fade_in_sequence3, .fade_in_sequencenth {
  opacity: 0;
}


/* Homepage Classes ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.homepage_bio {
  padding: 0 0 2rem 0;
}

.homepage_bio p {
  margin: 0 0 0 0.75vw;
}

.homepage_bio mark {
  font-weight: 600;
  background: -webkit-linear-gradient(300deg, #272A71 20%, #A61B1E 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage_bio a {
  transition-duration: 0.5s;
}

.homepage_bio a:hover, .homepage_bio a:focus, .content_order a {
  opacity: 0.5;
  transition-duration: 0.5s;
}

.content_order a:hover, .content_order a:focus {
  transition-duration: 0.5s;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
}

.companies img {
  margin: 0.75rem 0 0.75rem 0;
}

.company_logo {
  position: relative;
  height: calc(2vw + 1rem);
  margin: 1rem;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 1.26vw;
  row-gap: calc(1.25vw + 1rem);
}

.project_cluster {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.sideproject_logo {
  width: 100%;
}

.about_me_blurb {
  display: flex;
  flex-direction: column;
  row-gap: calc(1.3vw - 0.05rem);
  padding: 0 0 calc(2.6vw - 0.1rem) 0;
}

.portrait_photo {
  width: 40%;
}

@media (min-width: 350px) {

  .companies {
    padding: 0 3vw 0 3vw;
  }
}

@media (min-width: 390px) {

  .companies {
    padding: 0 5vw 0 5vw;
  }
}

@media (min-width: 410px) {

  .companies {
    justify-content: space-evenly;
    padding: 0;
  }

  .company_logo {
    width: 40vw;
  }
}

@media (min-width: 650px) {

  .companies {
    column-gap: 0;
    padding: 0 5vw;
  }
}

@media (min-width: 900px) {

  .companies {
    justify-content: space-around;
    padding: 0;
  }

  .company_logo {
    width: 14rem;
  }
}

@media (min-width: 1040px) {

  .companies {
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  .company_logo {
    height: calc(1.75vw + 0.75rem);
    width: auto;
  }
}

.project_summary {
  transition-duration: 0.5s;
}

.project_summary:hover, .project_summary:focus {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.project img {
  margin: 0 0 1rem 0;
  height: auto;
  width: 100%;
}

.project_logo {
  position: relative;
  align-items: flex-start;
  width: 9rem;
  margin: 1rem auto 1rem auto;
}

.project_component {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1.5rem 1rem 0.5rem 1.5rem;
  text-decoration: none;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.project_component_heading {
  padding: 0;
}

.project_component h2 {
  font-family: 'Lexend', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.roles_skills {
  font-family: 'Lexend', sans-serif;
  font-size: calc(0.8vw + 0.75rem);
  line-height: calc((0.8vw + 0.75rem)*1.75);
  font-weight: 400;
  padding: 0.65vw 0 calc(2.6vw - 0.1rem) 0;
}

.view_project {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0.2rem 0 0 0;
}

.device_photos img {
  position: absolute;
  z-index: 0;
  height: 41vh;
  margin: 0;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 0 0.75rem 0;
}

.links div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.75rem;
}

.links a {
  transition-duration: 0.5s;
}

.links a:hover, .links a:focus {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.single_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.contact_logo {
  height: 1.5rem;
  padding: 0 0 0.25rem 0;
}

.mockup_div {
  position: absolute;
  left: 0;
  right: 0;
  height: 66vh;
  margin: 0;
}

@media (min-width: 1270px) {
  /* Desktop size */

  .project_logo {
    width: 10.05rem;
    margin: 0;
  }

  .project_component {
    align-items: flex-start;
    flex-direction: row;
    padding: 2rem 0 0.5rem 3.5rem;
  }

  .project_component_heading {
    padding: 0 0 0 2.75rem;
  }

  .project_component h2 {
    font-size: 2.25rem;
    text-align: left;
  }

  .view_project {
    padding: 2rem 1.5rem 0 0;
  }
}

/* Project Classes ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.top_project_content iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  overflow: hidden;
}

.video_wrapper {
  display: block;
  position: relative;
  order: 2;
  width: 100%;
  height: 51.675vw;
  padding: 0;
}

.context {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 7.5vw 0;
}

.context h2 {
  padding: 0 0 calc(0.75vw - 0.05rem) 0;
  font-size: calc(1.25vw + 0.85rem);
  font-weight: 400;
  color: #21303D;
}

.project_heading {
  flex: 6;
  padding: 0;
}

.project_heading h1, .impact h1 {
  padding: 0 0 calc(0.7vw + 0.5rem) 0;
  font-size: calc(4.8vw + 1.2rem);
  font-weight: 600;
  color: #21303D;
}

.project_heading h3 {
  padding: 0.25rem 0 1rem 0;
  font-size: 1.25rem;
}

.context_sections {
  display: flex;
  flex-direction: column;
  padding: calc(1.4vw + 1rem) 0 0 0;
  row-gap: calc(1vw + 0.75rem);
}

.team_role_order {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.team_role {
  padding: 0 1rem 1rem 0;
}

.team_role p:nth-child(1) {
  padding: 0;
  font-size: 1rem;
  color: #21303D;
}

.team_role p:nth-child(2) {
  padding: 0.1rem 0 0 0;
}

.content_clusters {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 12vw;
}

.content_clusters img {
  border-radius: 12px
}

.video_wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 2rem 0 0 0;
  border-radius: 12px;
}

.video_wrapper video {
  align-self: center;
  width: 100%;
}

.proposal_header {
  margin: 1rem 0 0 0;
  padding: 2rem 1rem 1.5rem 1rem;
  font-size: 2.25rem;
  background-color: rgba(225, 225, 225, 0.3);
}

.grey_bg {
  background-color: rgba(225, 225, 225, 0.3);
}

.grey_bg2 {
  background-image: linear-gradient(rgb(240, 240, 240), rgb(255, 255, 255));
}

.large_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: calc(1.3vw - 0.05rem);
}

.large_section h2, .twin_section h2 {
  font-size: calc(2.93vw + 0.9rem);
  color: #21303D;
}

.the_one_with_Jackie_Chan {
  display: flex;
  flex-direction: row;
}

.the_one_with_Jackie_Chan figure {
  display: none;
  width: 0%;
}

.twin_section {
  display: flex;
  flex-direction: column;
  column-gap: 2.52vw;
  row-gap: calc(1.5vw - 0.1rem);
}

.twin_section div {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: calc(1.3vw - 0.05rem);
}

.twin_section figure {
  width: 40%;
  margin: 0;
}

.insights {
  display: flex;
  flex-direction: column;
}

.insights div {
  display: flex;
  flex-direction: row;
}

.insights p {
  font-size: calc(1.33vw + 0.875rem);
  line-height: calc((1.33vw + 0.875rem)*1.75);
}

.quotes p {
  padding: calc(1.5vw + 0.25rem) 0 0 calc(0.75vw + 1rem);
  font-style: italic;
  font-size: calc(1.33vw + 0.875rem);
}

.directory {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw 0;
  row-gap: calc(2.6vw + 1rem);
}

.directory div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(1.3vw - 0.05rem);
}

#up_arrow {
  width: calc(1vw + 0.4rem);
  height: 100%;
}

.directory img {
  width: 100%;
}

.directory picture {
  padding: 1rem 0 0 0;
}

.back_to_top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.directory a {
  transition-duration: 0.3s;
}

.directory a:hover, .directory a:focus {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.directory p {
  font-family: 'Lexend', sans-serif;
  font-size: calc(2.5vw + 0.75rem);
  font-weight: 400;
}

.source {
  display: flex;
  font-size: calc(1.33vw + 0.75rem);
  font-style: normal;
  line-height: calc((1.33vw + 0.75rem)*1.75);
  text-align: right;
  justify-content: flex-end;
  color: #4D4D4D;
}

.quotation_mark {
  display: flex;
  position: absolute;
  font-family: 'Lexend', sans-serif;
  font-size: calc(1.33vw + 2.25rem);
  font-weight: 500;
  left: 3.5vw;
  color: #21303D;
}

.number_label {
  display: inline-block;
  width: 0.75rem;
  margin: 0 1rem 0 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  color: #21303D;
}

.bullet_label {
  display: inline-block;
  width: 0.75rem;
  margin: 0 0.25rem 0 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

.side_grids_10of12 .content_clusters div {
  display: flex;
  flex-direction: column;
}

.subsection_divider {
  display: block;
  margin: 0.75rem auto;
  padding: 0.75rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project_content {
  display: flex;
  flex-direction: column;
  order: 1;
  margin: 0;
  padding: 1rem 0 1rem 0.75rem;
}

.project_content h2 {
  padding: 0.65rem 0 0.5rem 1rem;
  font-size: 1.39rem;
  text-align: left;
  line-height: 1.2rem;
  color: #FFFFFF;
}

.project_content h3 {
  padding: 0 0 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5rem;
}

.content_heading {
  flex: 1;
  max-width: 90vw;
}

.content_order {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100vw;
}

.works_image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.reflection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
  padding: 10vw 0 5vw 0;
}

.reflection h2{
  padding: 0 0 0.5rem 0;
  font-family: 'Lexend', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #21303D;
}

.reflection a {
  margin: 1rem 0 0 0;
  font-size: 0.66rem;
  line-height: 1rem;
}


/* Media Queries ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

@media (min-width: 509px) {
  #copyright br {
    display: none;
  }  
}

@media (min-width: 600px) {
  /* Tablet size */

  #intro {
    row-gap: 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  #project_org {
    padding: 2rem 0 7rem 0;
    grid-row-gap: 7rem;
  }

  .roles_skills {
    font-size: 1.1rem;
    line-height: 1.9rem;
    padding: 0 0 0.5rem 0;
  }

  header {
    position: fixed;
    backdrop-filter: blur(3px);
    /* background-color: rgba(25, 25, 25, 0.85); */
  }

  .white_mode {
    background-color: rgba(255, 255, 255, 0.85);
  }

  .white_mode nav a {
    color: #21303D;
  }

  .grey_mode {
    background-color: rgba(240, 240, 240, 0.85);
  }

  .grey_mode nav a {
    color: #21303D;
  }

  .black_mode {
    background-color: rgba(25, 27, 31, 0.85);
  }

  .black_mode nav a {
    color: #FFFFFF;
  }

  nav a {
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
  }

  p, li {
    font-size: 1.25rem;
    line-height: 2.2rem;
  }

  #disclaimer {
    padding: 0.5rem 0 0 0;
    font-size: 1.025rem;
    line-height: 1.75rem;
  }

  .context_sections {
    padding: 2rem 0 0 0;
  }

  .context h2 {
    padding: 0 0 0.25rem 0;
    font-size: 1.3rem;
  }

  .full_menu {
    display: flex;
    flex-direction: row;
  }
  
  #hamburger_menu {
    display: none;
  }

  .project_logo {
    width: 12rem;
  }

  .device_photos img {
    height: 40vh;
  }

  .about p {
    padding: 0 2rem 0.75rem 2rem;
    font-size: 1.45rem;
    line-height: 1.95rem;
  }

  .contact_logo {
    height: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .project_h1 {
    padding: 0 5rem 30vh 5rem;
  }

  .project_heading h1, .impact h1 {
    padding: 0 0 1rem 0;
    font-size: 3rem;
  }

  .team_role p:nth-child(1) {
    font-size: 1.08rem;
  }

  .large_section {
    row-gap: 0.5rem;
  }

  .large_section h2, .twin_section h2 {
    font-size: 2rem;
  }

  .twin_section div {
    row-gap: 0.25rem;
  }

  .number_label {
    margin: 0 1.75rem 0 0;
    font-size: 1.25rem;
  }

  .proposal_header {
    padding: 2.25rem 1rem 1.75rem 1rem;
    font-size: 2.5rem;
  }
  
  .subsection_divider {
    margin: 1.2rem auto;
    padding: 1rem;
  }

  .project_content {
    margin: 0 2rem 0 2rem;
    padding: 1.25rem 2rem 1.25rem 2rem;
  }

  .project_content h2 {
    font-size: 1.8rem;
    line-height: 1.6rem;
  }
  
  .project_content h3 {
    padding: 0 0 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .process, .solution {
    padding: calc(7.5vw + 2rem) 0 7.5vw 0;
  }

  .twin_section .quotes {
    row-gap: 1.25rem;
  }

  .insights p {
    padding: 0;
    font-size: 1.375rem;
    line-height: 2.05rem;
  }

  .quotes p {
    padding: 0 0 0 calc(0.4vw + 0.85rem);
    font-size: 1.375rem;
    line-height: 2.05rem;
  }

  .source {
    font-size: 1.25rem;
  }

  .directory {
    row-gap: 2.25rem;
  }

  .directory div {
    row-gap: 0.75rem;
  }

  .directory p {
    font-size: 2rem;
  }

  .directory h3 {
    font-size: 3rem;
  }

  .reflection h2 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .reflection a {
    font-size: 0.75rem;
    line-height: 1.1rem;
  }

  #copyright p {
    font-size: 1rem;
  }

  .back_to_top {
    column-gap: 0.5rem;
  }

  .back_to_top p {
    font-size: 1.1rem;
  }

  #up_arrow {
    width: 0.66rem;
  }


  .sideproject_logo {
    display: flex;
    align-items: center;
    max-height: 300px;
    width: auto;
  }

  .about_me_blurb {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 0 1.25rem 0;
  }
  
  .portrait_photo {
    width: 40%;
  }
}


@media (min-width: 725px) {

  .links {
    padding: 0;
  }

  #copyright {
    display: flex;
    position: relative;
    justify-content: center;
  }

  #copyright p {
    line-height: 0; 
    position: absolute;
    bottom: 1rem;
    left: calc(30vw - 150px);
    right: calc(0.66rem + 0.5rem + 88.25px + 1rem);
    text-align: center;
  }
}

@media (min-width: 900px) {
  /* Desktop size */

  #project_intro {
    padding-top: 2.75rem;
  }

  .context {
    padding: 3rem 0 4.25rem 0;
  }

  .context_sections {
    flex-direction: row;
    column-gap: 1.31vw;
  }

  .context_sections div {
    width: 21.5vw;
  }
  
  .context_sections div:nth-child(3) {
    width: 44.44vw;
  }

  .twin_section {
    flex-direction: row;
  }

  .twin_section div {
    row-gap: 0.5rem;
    width: 100%;
  }

  .the_one_with_Jackie_Chan div {
    width: 100%;
  }
  
  .the_one_with_Jackie_Chan figure {
    display: block;
    width: 46%;
    margin: 0 0 0 1rem;
  }

  h1 {
    font-size: 5.75rem;
  }

  .homepage_bio p {
    margin: 0 0 0 0.5rem;
  }

  nav a {
    font-size: 1.2rem;
  }

  h4 {
    padding: 1.5rem 2rem 0 2rem;
    font-size: 1.8rem;
  }

  .proposal_header {
    padding: 3rem 1rem 2rem 1rem;
    font-size: 3.5rem;
  }
  
  .subsection_divider {
    margin: 1.75rem auto;
    padding: 1.25rem;
  }

  .project_content {
    margin: 0 5rem 0 5rem;
    padding: 1.25rem 2rem 1.25rem 2rem;
  }

  .project_content h2 {
    padding: 0.65rem 0 0.5rem 2rem;
    font-size: 2.25rem;
    text-align: left;
    line-height: 2.35rem;
  }
  
  .project_content h3 {
    padding: 0 0 0.5rem 2rem;
    font-size: 1.8rem;
    text-align: left;
    line-height: 2.1rem;
  }

  #intro {
    margin: 0 18.379vw;
    padding: 13.5rem 0 0 0;
  }

  .project_logo {
    width: 15rem;
  }

  .project_component h2 {
    font-size: 2.25rem;
  }

  .project_component p {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }

  .content_clusters {
    row-gap: 6rem;
  }

  .process, .solution {
    padding: 5rem 0;
  }

  .impact {
    padding: 9rem 0 0 0;
  }

  .quotes p {
    padding: 0 0 0 calc(2.75rem - 1vw);
  }
  
  .quotation_mark {
    padding: 0.5rem 0 0 0;
    font-size: 5rem;
    left: 50vw;
  }

  .directory {
    padding: 6rem 0 15rem 0;
  }

  .reflection {
    padding: 12rem 0 3rem 0;
  }

  .reflection h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .reflection a {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  #copyright p {
    left: auto;
    right: auto;
  }

  .about_me_blurb {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 0 1.25rem 0;
  }
  
  .portrait_photo {
    width: auto;
    max-width: 250px;
  }

  .showcase {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 1.75rem;
  }

  .project_cluster {
    align-items: start;
    text-align: left;
    width: 49%;
  }

  .project_cluster h2 {
    padding: 0 1rem 0 0;
  }

  .sideproject_logo {
    width: 100%;
  }

  .works_image {
    border-radius: 20px;
  }
  
  #project_org img {
    border-radius: 20px;
  }
}

@media (min-width: 1000px) {

  .side_grids_8of12, .side_grids_10of12 {
    margin: 0 auto;
    max-width: 56.25rem;
  }
}

@media (min-width: 1423px) {
  /* Desktop size */

  h1 {
    font-size: 5.5rem;
  }

  #project_intro {
    padding-top: 4.25rem;
  }

  .side_grids_8of12 {
    margin: 0 18.379vw;
    max-width: 100%;
  }

  .side_grids_10of12 {
    margin: 0 10.378vw;
    max-width: 100%;
  }

  .side_grids_10of12 figure {
    margin: 0;
  }

  .side_grids_10of12 .content_clusters > div {
    flex-direction: row;
    column-gap: 1.31vw;
  }

  .stacked_images {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .side_grids_10of12 .content_clusters > div .large_section {
    width: 33%;
  }

  .context_sections div {
    width: 15.1865vw;
  }
  
  .context_sections div:nth-child(3) {
    width: 31.21vw;
  }

  .solution h1, .directory h1 {
    font-size: 5.5rem;
    padding: 0 0 1.25rem 0;
  }

  .quotes p {
    padding: 0 0 0 2.25rem;
  }

  .directory {
    padding: 3rem 0 12rem 0;
  }

  .showcase {
    flex-direction: row;
  }

  .project_cluster {
    width: 49%;
  }

  .about_me_blurb {
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
  }
  
  /* .project_cluster {
    width: 23.5%;
  } */
}

@media (min-width: 1920px) {
  /* Desktop size */

  .side_grids_8of12 {
    max-width: 1214.25px;
    margin: 0 auto;
  }

  .side_grids_10of12 {
    max-width: 1521.5px;
    margin: 0 auto;
  }

  .side_grids_10of12 .content_clusters > div {
    column-gap: 25.152px;
  }

  .context_sections div {
    width: 287.05px;
  }
  
  .context_sections div:nth-child(3) {
    width: 589.89px;
  }

  .showcase {
    column-gap: 24.2968px;
  }
}


/* 
display
position
align-item
justify-content
vertical-align
flex-direction
flex-wrap
direction (top, bottom, left, right)
z-index
order
max width, height
width, height
margin
padding
border
font-family
font-size
font-style
font-weight
text-align
line-height
text-decoration
background-size
background-color
border-size
border-color
border-style
border-radius
border-width
color
opacity
transition-duration */